<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ page_title }}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header>
    <img class="logo" src="/static/img/logo.png" alt="friends" />
    <h1>{{ page_title }}</h1>
  </header>

  {% block navigation %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <footer>
    <p><small>Copyright <em>{{ site_title }}</em></small></p>
  </footer>
</body>
</html>
